<div style="border:solid 2px black; display:grid; place-items: center; font-family: 'Bahnschrift';">
    <h2>Выберите файл для импорта данных</h2>

    {# форма с кнопками загрузки файла и его отправки #}
    <form id="file-upload-form" enctype="multipart/form-data">
        <input type="file" id="file-input" name="file" accept=".xls,.xlsx">
        <button type="button" onclick="uploadFile()">Загрузить</button>
    </form>

    <br>
</div>

    <script>
        // функция обработки нажатия на стороне клиента (отправка запроса и передача данных о файле)
        function uploadFile() {
            var fileInput = document.getElementById('file-input');
            if (fileInput.files.length > 0) {
                var formData = new FormData();
                formData.append('file', fileInput.files[0]);

                // fetch запрос и обработчики ошибок
                fetch(' {{ path('extractor.upload') }} ', {       // path('extractor.upload') -- путь для вызова функции обработки контроллера (прописана в routing)
                    method: 'POST',
                    body: formData,
                })
                // обработка полученных данных в формате json
                .then(response => response.json())
                .then(data => {
                  alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                alert('Пожалуйста, выберите файл');
            }
        }
    </script>

