<!DOCTYPE html>
    <h2>Upload a File</h2>

    <form id="file-upload-form" enctype="multipart/form-data">
        <input type="file" id="file-input" name="file" accept=".xls,.xlsx">
        <button type="button" onclick="uploadFile()">Upload</button>
    </form>

    <div id="response"></div>

    <script>
        function uploadFile() {
            var fileInput = document.getElementById('file-input');
            if (fileInput.files.length > 0) {
                var formData = new FormData();
                formData.append('file', fileInput.files[0]);

                fetch(' {{ path('extractor.upload') }} ', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('response').innerHTML = '<pre>' + JSON.stringify(data, null, 2) + '</pre>';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                alert('Please select a file.');
            }
        }
    </script>

